footer{

padding:100px 20px;

background:#1d1d1d;

color:white;

text-align:center;

}

footer h2{

font-size:70px;

font-family:'Great Vibes',cursive;

margin-bottom:20px;

}

footer p{

margin:10px 0;

font-size:18px;

}