<footer class="footer">

  <div class="footer-content">

    <p class="mini">
      SIZNI KUTIB QOLAMIZ
    </p>

    <h2>
      Azamat
      <span>&</span>
      Zulayxo
    </h2>

    <p class="date">
      19 • 07 • 2026
    </p>

    <div class="gold-line"></div>

    <p class="text">
      Tashrifingiz biz uchun eng qimmatli sovg'adir.
      Quvonchimizni Siz bilan baham ko'rishdan mamnun bo'lamiz.
    </p>

    <div class="footer-building">

      <img
        src="assets/images/footer-building.PNG"
        alt="Footer Building">

    </div>

  </div>

</footer>