<section class="hero">

  <div class="flowers">
    @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
      <span class="flower"></span>
    }
  </div>

  <div class="overlay">

    <p class="welcome">
      To'y taklifnomasi
    </p>

    <h1 class="names">
      Azamat
      <span>&</span>
      Zulayxo
    </h1>

    <div class="divider"></div>

    <p class="date">
      19 Iyul 2026 • 17:00
    </p>

    <p class="location">
      📍 Chust shahar O'zbegim to'yxonasi
    </p>

    <a href="#countdown" class="scroll-btn">
      ↓ Pastga o'tish
    </a>

  </div>

</section>