<section class="invitation">

  <div class="card">

    <p class="mini">
      HURMATLI MEHMONIMIZ
    </p>

    <h2>
      Sizni Azamat va Zulayxoning
      nikoh to‘yi tantanasiga
      taklif etamiz
    </h2>

    <div class="date">
      19.07.2026
    </div>

    <div class="time">
      17:00
    </div>

    <p class="place">
      O‘zbegim To‘yxonasi
    </p>

    <p class="city">
      Chust shahri, Namangan viloyati
    </p>

    <div class="building-image">
      <img
        src="assets/images/hero-building.PNG"
        alt="Wedding Building">
    </div>

  </div>

</section>