<section class="location">

  <p class="mini">MANZIL</p>

  <h2>O'zbegim To'yxonasi</h2>

  <p class="address">
    Chust shahri, Namangan viloyati
  </p>

  <div class="gold-line"></div>

  <div class="map">

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d35072.84709109066!2d71.26342220203227!3d40.98631642878423!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb2b27626636d5%3A0x921484c06f458daf!2zT8q7emJlZ2lt!5e0!3m2!1sru!2s!4v1783425677573!5m2!1sru!2s"
      loading="lazy"
      allowfullscreen>
    </iframe>

  </div>

  <div class="map-buttons">

    <a
      class="map-btn google"
      href="https://maps.app.goo.gl/RgZG5N6P5kFgzESv5"
      target="_blank"
      rel="noopener">
      📍 Google Maps orqali ochish
    </a>

    <a
      class="map-btn yandex"
      href="https://yandex.ru/maps/-/CTqpAV8r"
      target="_blank"
      rel="noopener">
      📍 Yandex Maps
    </a>

  </div>

</section>