<div class="loading-screen">

  <div class="card" [class.hide]="opened()">

    <p class="top-title">
      ———— Sizga taklifnoma keldi ————
    </p>

    <h1>
      Azamat
      <span>&</span>
      Zulayxo
    </h1>

    <div class="date-line">
      <span></span>
      <p>19 • 07 • 2026</p>
      <span></span>
    </div>

    <p class="arabic">
      وَأَلَّفَ بَيْنَ قُلُوبِهِمْ
    </p>

    <p class="uzbek">
      "Va U ularning qalblarini birlashtirdi"
    </p>

    <p class="surah">
      Anfol surasi, 63-oyat
    </p>

    <button (click)="open()">
      💌 Taklifnomani ochish
    </button>

    <audio #music loop preload="auto">
      <source src="assets/music/wedding.mp3" type="audio/mpeg">
    </audio>

  </div>

</div>