<section id="countdown" class="countdown">

    <h2>To'ygacha qoldi</h2>

    <div class="grid">

        <div class="box">
            <span>{{ days() }}</span>
            <p>Kun</p>
        </div>

        <div class="box">
            <span>{{ hours() }}</span>
            <p>Soat</p>
        </div>

        <div class="box">
            <span>{{ minutes() }}</span>
            <p>Daqiqa</p>
        </div>

        <div class="box">
            <span>{{ seconds() }}</span>
            <p>Soniya</p>
        </div>

    </div>

</section>