<section class="countdown">

  <p class="mini">
    TO'YGACHA
  </p>

  <h2>
    Qancha vaqt qoldi?
  </h2>

  <div class="gold-line"></div>

  <div class="timer">

    <div class="box">
      <h1>{{ days() }}</h1>
      <span>KUN</span>
    </div>

    <div class="box">
      <h1>{{ hours() }}</h1>
      <span>SOAT</span>
    </div>

    <div class="box">
      <h1>{{ minutes() }}</h1>
      <span>DAQIQA</span>
    </div>

    <div class="box">
      <h1>{{ seconds() }}</h1>
      <span>SONIYA</span>
    </div>

  </div>

</section>